@import "tailwindcss";

@theme {
  --color-1-orange: #ffd634;
  --color-2-black: #2b150d;
  --color-3-white: #f9f8f3;
  --subcolor-1-gray: #e8e8e8;
  --white-ffffff: #fff;
  --color-oragne: #ff7a1b;
  --gray-color-: #bbb;
  --color-checkmark: #fff;
  --color-checkmark: #52c12a;
  --skidka: #ff3838;
  --font-family: "Open Sans", sans-serif;
  --font-second-family: "Poppins", sans-serif;
  --breakpoint-3xl: 94.4375rem; /* 1511px */
  --breakpoint-lgg: 76.1875rem; /* 1219px */
  --breakpoint-mdd: 58.25rem; /* 932px */
  --breakpoint-smm: 35.6875rem; /* 571px */
  --breakpoint-sm3: 31.25rem; /* 500px */
  --breakpoint-sm2: 36.875rem; /* 590px */
  --breakpoint-22l: 90.3125rem; /* 1445px */
}
body {
  background-color: var(--white-ffffff);
}
.svg-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  fill: #000;
}
body,
html {
  overflow-x: hidden;
}
.custom-scroll::-webkit-scrollbar {
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #ffd634;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #ffd634 rgba(0, 0, 0, 0.1);
}
